body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

#triviaContainer {
    max-width: 600px;
    margin: 0 auto;
}

.pregunta-contenedor {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

li.seleccionado {
    background-color: #e0e0e0;
}

li.respuesta-correcta {
    background-color: #c8e6c9;
}

#mostrarResultadoBtn {
  display: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}



#resultado {
    margin-top: 20px;
    font-size: 18px;
}

